.card {
  width: 180px;
  height: 235px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 8px;
  text-align: center;
  position: relative;

  &--selected {
    border: 2px solid red;
  }

  &__title {
    text-transform: capitalize;
    border-top: 1px solid lightgrey;
    padding-top: 15px;
  }

  &__favorite {
    color: lightgrey;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;

    &--selected {
      @extend .card__favorite;
      color: red;
    }
  }


  &__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid lightgrey;
    padding: 10px 0;
    
    &--type {
      margin-left: 15px;
      padding: 6px 10px;
      background-color: grey;
      border-radius: 20px;
      color: white;
      font-weight: 700;
      font-size: 12px;
    }
  }
}